.app {
  text-align: center;
  color: var(--color);

  & &-demos {
    color: var(--color);
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & &-link {
    color: #61dafb;
  }
}
